
/*

DISEÑO BORDE

**/

.nav{
    margin-top:1cm;
    border: #1c1c1d;
    border-radius: 30px;
}

 /*

DISEÑO  EN CARD producto

**/

.name {

    background:rgb(97, 94, 99);
    color:#fff;
    font-weight:bold
}
  


/*

 BLACK-* card

**/
 

.black-10{
     background:rgb(248, 243, 243);
}

.black-9{
    background:rgb(248, 243, 243);

}

.black-8{
    background:rgb(248, 243, 243);

}

.black-7{
    background:rgb(248, 243, 243);

}

 /*

DISEÑO IMAGEN EN CARD

**/
  
.product-img {
    min-height: 107px;
    min-Width: 181px;
    max-Height: 215px;
    max-Width: 245px;

}
/*

diseño jumbotron

**/
.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #b6b3b3, #c0a7b1, #73737e, #829797);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*

diseño responsive css

**/


/*

BODY PRINCIPAL
**/

/*

CSS PARA CARRRITO
**/


.cart-badge, .cart-badge:hover{

     border-radius: 60%;
     padding:3px;
     font-size:11px;
     background:black;
}

/*

CSS PARA iconos
**/

.icon-delete{
    color: red;


}


.icon-check{
    color:green;
}

.alignright {
    float: right;

}




.menu-perfil{
    background:rgb(74, 73, 75);
    border-radius:10px !important;
    margin-right: 40px;
    margin-top : 10px !important;


  
}

.link {
    margin-left: 17px;
    text-decoration: none!important;
    
  }
